.Rproj.user
.Rhistory
.RData
36.1.-5.65.png
36.1.-5.65.png.rda
53.086.-2.31.png
53.086.-2.31.png.rda
ESP2_msk_alt.grd
ESP2_msk_alt.gri
ESP2_msk_alt.vrt
ESP_msk_alt.grd
ESP_msk_alt.gri
ESP_msk_alt.vrt
France.gfw
France.gif
France.prj
G_2013-02-25_185157_55492.kmz
R-GIS tutorial.Rproj
R-GIS_tutorial.html
README.html
gmap.png
gmap.png.rda
locsgb.dbf
locsgb.kml
locsgb.shp
locsgb.shx
newmap.png
newmap.png.rda
newmap2.png
newmap2.png.rda
newmap3.png
newmap3.png.rda
tmin.all.grd
tmin.all.gri
tmin1.c.grd
tmin1.c.gri
tmin1.kmz
wc10
BES_MacroEcology_SpatialRFlyer.jpg
G_2013-12-18_150958_77388.kmz
G_2013-12-19_012141_82937.kmz
G_2013-12-19_123019_21910.kmz
